{
  "log": {
    "_recordingName": "emptyTrash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8493cff2b429662eb308f5fbe50c5a10",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/-99"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        }
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
