{
  "log": {
    "_recordingName": "parseURL",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bba19e0ce6778a63823b46717ab82e22",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "url",
              "value": "https://example.com"
            }
          ],
          "url": "https://api.raindrop.io/rest/v1/import/url/parse?url=https%3A%2F%2Fexample.com"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "text": "[\"G4AAAASez1PS3uMPlKQlGXt4wM2/EmnW8ibBDtjZjQXRy03WE2pb9lyot7xHvWz3lKPo6qFF2Oqty1EEPYA1HjsR8ivNl2lDgdDCriiMBb5Zq3FzECQHCsr1hT7fYkKIyxXl+v//Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        }
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
