{
  "log": {
    "_recordingName": "removeAllEmptyCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "35d2e9016eb7c028e3abc43d69a0880f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/clean"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"result\":true,\"count\":7}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        }
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
